version: "3.8"

services:
  mongo:
    image: mongo:6
    container_name: mongo
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15673:15672"
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASS}

  device-service:
    build: ./device-service
    container_name: device-service
    command: uvicorn main:app --host 0.0.0.0 --port 8000
    ports:
      - "8001:8000"
    env_file:
      - .env
    depends_on:
      - mongo
      - rabbitmq

  alert-service:
    build: ./alert-service
    container_name: alert-service
    command: python consumer.py
    env_file:
      - .env
    depends_on:
      - mongo
      - rabbitmq

  notify-service:
    build: ./notify-service
    container_name: notify-service
    command: python consumer.py
    env_file:
      - .env
    depends_on:
      - rabbitmq

volumes:
  mongo_data:
